<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="nav navbar-nav">
        <a class="nav-item nav-link" [class.active]="aba == 'home'" (click)="aba = 'home'">Home</a>
        <a class="nav-item nav-link" (click)="aba = 'mapa'">Mapa</a>
        <a class="nav-item nav-link" (click)="aba = 'lista'">Lista</a>
    </div>
</nav>

<div class="jumbotron" [ngSwitch]="aba">
  <p *ngSwitchCase="'mapa'">Modo mapa ativado</p>
  <p *ngSwitchCase="'lista'">Modo lista ativado</p>
  <p *ngSwitchDefault>Modo Home ativado</p>
</div>
